<h1 style="color:red">NgContent</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <app-item-content>
        <span class="tenPhim">Minions</span>
        <span class="giaTien">70000</span>
      </app-item-content>
    </div>
    <div class="col-sm-3">
      <app-item-content>
        <span class="tenPhim">Home</span>
        <span class="giaTien">85000</span>
      </app-item-content>

    </div>
    <div class="col-sm-3">
      <app-item-content>
        <span class="tenPhim">Harvie</span>
        <span class="giaTien">90000</span>
      </app-item-content>

    </div>
    <div class="col-sm-3">
      <app-item-content>
        <span class="tenPhim">Insideout</span>
        <span class="giaTien">50000</span>
      </app-item-content>

    </div>
  </div>
</div>
